body {
  background: #25252b;
  text-align: left;
}
#rick {
  background: #484850;
  color: white;
  border: 1px solid 484850;
  width: 60%;
  padding: clamp (1em, 4em, 7em);
  border-radius: 16px;
}
#titulo {
  background: white;
  color: #535353;
  text-align: center;
  border: 3px #ffd3b5;
  width: 500x;
  border-radius: 16px;
}

img {
  width: 30%;
  border-radius: 16px;
}
#titulo {
  font-family: Arial, Helvetica, sans-serif;
}
#rick {
  font-family: Arial, Helvetica, sans-serif;
}

a:hover {
  color: rgb(255, 153, 0);
}

li {
  color: #1cff27;
}
li span {
  color: white;
}
